<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title">Change new Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col size="12" class="header-logo">
      <img src="assets/imgs/forgot.png" />
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="pass-col">
      <ion-label class="password"> New Password </ion-label>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 3px">
    <ion-col size="12" style="margin-left: -15px; margin-top: -5px">
      <ion-item class="pass-col-new">
        <ion-input
          [type]="showPassword == true ? 'text' : 'password'"
          placeholder="Enter new password"
          style="--padding-top: 7px"
          [(ngModel)]="new_password"
        ></ion-input>
        <ion-button
          slot="end"
          fill="clear"
          class="seeClient"
          (click)="toggleShowPassword()"
        >
          <ion-icon
            *ngIf="showPassword"
            name="eye-outline"
            color="danger"
            class="iconEye"
          ></ion-icon>
          <ion-icon
            *ngIf="!showPassword"
            name="eye-off-outline"
            color="danger"
            class="iconEye"
          ></ion-icon>
        </ion-button>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="pass-col" style="margin-top: 10px">
      <ion-label class="password"> Confirm Password </ion-label>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 3px">
    <ion-col size="12" style="margin-left: -15px; margin-top: -5px">
      <ion-item class="pass-col-new">
        <ion-input
          [type]="showPassword == true ? 'text' : 'password'"
          placeholder="Enter confirm password"
          style="--padding-top: 7px"
          [(ngModel)]="confirm_password"
        ></ion-input>
        <ion-button
          slot="end"
          fill="clear"
          class="seeClient"
          (click)="toggleShowPassword()"
        >
          <ion-icon
            *ngIf="showPassword"
            name="eye-outline"
            color="danger"
            class="iconEye"
          ></ion-icon>
          <ion-icon
            *ngIf="!showPassword"
            name="eye-off-outline"
            color="danger"
            class="iconEye"
          ></ion-icon>
        </ion-button>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row style="margin-top: 40px">
    <ion-col>
      <ion-button
        style="
          --background: linear-gradient(to right, #c23f3a, #e80c0a);
          --padding-bottom: 25px;
          --padding-top: 25px;
          --background-activated: #e80c0a;
        "
        shape="round"
        expand="full"
        (click)="changePassword()"
        >Done
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
