ion-icon {
  color: #3c3737;
}
.title {
  color: #272727;
  font-family: sans-serif;
  font-weight: bold;
}

.header-ios ion-toolbar:last-of-type {
  --border-width: 0 0 0px;
}
.password {
  color: #6c6969;
  font-family: sans-serif;
}
.pass-col {
  padding-left: 25px;
  margin-top: 50px;
}
.footer-col {
  margin-top: 50px;
  text-align: center;
}
.input-col {
  padding-left: 35px;
}
.lock {
  font-size: 14px;
}
.first-box {
  border-bottom: 1px solid #adadad;
  margin-left: 20px;
  margin-right: 20px;
}
.other-box {
  border-bottom: 1px solid #adadad;
  margin-right: 20px;
}
ion-item .ion-native .item-inner {
  border: 0px !important;
}
.otp-col {
  margin-left: 20px;
}
.logo {
  text-align: center;
  margin-top: 40px;
  img {
    width: 100px;
  }
}
.logo-text {
  text-align: center;
  font-family: sans-serif;
  h6 {
    color: #222c3c;
  }
}

.lower-bottom {
  border-bottom: 1px solid #adadad;
  height: 35px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
}
.fixedLabel {
  min-width: 150px !important;
  max-width: 150px !important;
}
